.items-slider {
  width: 100%;
}

.items-product {
  width: 20rem;
  max-width: 20rem;
  height: 35rem;
  /* border: 1px solid black; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}

.itemsproduct-img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.New-subheader ul li {
  font-size: 20px;
  overflow-x: hidden;
}

.items-product:hover {
  border: 2px solid red;
}

.items .items-product h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.items .items-product h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

hr {
  width: 80%;
  margin: 1rem auto;
  border: 1px solid black;
  border-top: none;
}

.b-icons {
  width: 2rem;
  height: 2rem;
  color: #232324;
  font-size: 1.1rem;
  position: relative;
}
.b-icons:hover {
  color: #D10024;
}

.bottom-icons > .b-icons .tooltipp {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  padding: 10px;
  font-size: 12px;
  background: #1e1f29;
  color: #FFF;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s all;
}

.bottom-icons > .b-icons:hover .tooltipp {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-5px);
}

@media (max-width: 768px) {
  .items-product {
    width: 100%; /* Adjusted width for smaller screens */
    margin: 0 auto;
    padding: 1rem; /* Adjusted padding for smaller screens */
  }
  .items .items-product h2 {
    font-size: 1.2rem;
  }
  .items .items-product h3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .New-subheader ul li {
    font-size: 15px;
  }
  .New-subheader ul {
    gap: 5px;
  }
  .items-product {
    width: 100%; /* Adjusted width for smaller screens */
    margin: 0 auto;
    padding: 1rem; /* Adjusted padding for smaller screens */
  }
  .items .items-product h2 {
    font-size: 1rem;
  }
  .items .items-product h3 {
    font-size: 0.8rem;
  }
}

.control-button {
  background: none;
  border: none;
  font-size: 2rem;
  color: #232324;
  margin: 0 10px;
  cursor: pointer;
}

.control-button:hover {
  color: #D10024;
}



  