.search-header {
  font-size: 2rem;
}

.search-img {
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  
  .search img {
    width: 200px;
    height: 300px;
  }

  .search {
    width: 100%;
    max-width: 20rem;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
  }
  
.search:hover {
    border: 2px solid red;
  }
  
  .search h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .search h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-top: 5px;
  }

  @media (max-width: 480px) {
    .search {
      height:450px;
    }
  }